@import '../../../variables';

header {
    background: $bg-secondary;
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    ul {
        display: flex;
        gap: 3.5rem;
            a {
                color: $font-color-primary;
                opacity: .8;
                position: relative;
                transition: opacity .5s;
                &::before {
                    opacity: 0;
                    content: '';
                    background: $font-color-primary;
                    width: 0;
                    height: .0625rem;
                    position: absolute;
                    left: 0;
                    bottom: .0625rem;
                    transition: width .5s, opacity .5s;
                }
                &:hover {
                    opacity: 1;
                } 
                &:hover::before {
                    opacity: 1;
                    width: 100%;
                }
            }
    }
}

@media(max-width: 910px) {
    header {
        padding: .5rem 1.25rem 2.1875rem 1rem;
        img {
            width: 4.875rem;
        }
    }
    nav {
        ul {
            gap: 1.5625rem;
           a {
            font-size: .75rem;
           }
        }
    }
}