@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $font-color-primary;
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: $font-family-secondary;
}

input,
button {
    border: none;
    font-family: $font-family-primary;
}